<mat-toolbar *ngIf="authService.user | async as user">
  <ng-container>
    <img class="avatar" *ngIf="user.photoURL; else initials" [src]="user.photoURL" alt="Foto de perfil."
      matTooltip="{{user.displayName}}">
    <ng-template #initials>
      <p>{{ user && user.displayName && user.displayName[0] }}</p>
    </ng-template>
  </ng-container>

  <button mat-icon-button aria-label="Producto" matTooltip="Productos" (click)="router.navigate(['products'])">
    <mat-icon>category</mat-icon>
  </button>

  <button mat-icon-button aria-label="Ventas" matTooltip="Ventas" (click)="router.navigate(['sales'])">
    <mat-icon>point_of_sale</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
