<section class="page">
  <!-- Header -->
  <div class="page__header page__header--no-title">
    <div>
      <button class="page__actions" mat-mini-fab color="primary" aria-label="Agregar Venta" primary
        matTooltip="Agregar Venta" (click)="view = views.form" [disabled]="view === views.form">
        <mat-icon>add</mat-icon>
      </button>
      <button class="page__actions" mat-mini-fab color="primary" aria-label="Gráficos de Venta" primary
        matTooltip="Gráficos de Venta" (click)="view = views.chart" [disabled]="view === views.chart">
        <mat-icon>show_chart</mat-icon>
      </button>
    </div>
  </div>
  <!-- Form -->
  <app-sales-form [products]="product$" *ngIf="view === views.form"></app-sales-form>
  <app-sales-chart *ngIf="view !== views.form" [userEmail]="user?.email"></app-sales-chart>
</section>
