.mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

.chart-container {
  position: relative;
  height: 40vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &__actions button {
    margin: 1em;
  }
}

.mat-spinner {
  position: absolute;
}
